<div class="navbar">
  <ul class="navbar nav" style="display: inline">
    <li style="display: inline">Database: </li>
    <li style="display: inline"><a href="/students">Students</a></li>
    <li style="display: inline"><a href="/teachers">Teachers</a></li>
    <li style="display: inline"><a href="/subjects">Subjects</a></li>
  </ul>
</div>