<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      input[type=text],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }

      input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      input[type=submit]:hover {
        background-color: #45a049;
      }

      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 70%;
        margin: 0px auto;
      }
    </style>
    <title>EDIT teacher Data: </title>
  </head>

  <body>
    <h1 align="center">Edit teacher Data</h1>
    <p align="center"><a href="/teachers">Show All Data</a></p>
    <div class="container">
      <form action="/teachers/edit/<%=teachers.id%>" method="post">
        <label for="fname">First Name</label>
        <input type="text" id="fname" value=" <%=teachers.firstName%>" name="firstName" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" value="<%=teachers.lastName%>" name="lastName" placeholder="Your last name..">
        <label for="email">Email</label>
        <input type="text" id="lname" value="<%=teachers.email%>" name="email" placeholder="Your email..">
        <input type="submit" value="Edit teacher">
      </form>
    </div>

  </body>

</html>