<html>
  <head>
    <title>Teacher Edit Data</title>
  </head>
  <body>
    <h1 align="center">Edit Teacher Data</h1>
    <div style="text-align:center">
      <a href="/teachers">show all data</a>
    </div>
    <%if(typeof err != "undefined"){%>
      <div style="color:red;"> <%= err %> </div>
    <% } %>
    <form action="/teachers/add" method="POST">
      First name: <br/>
      <input type="text" name="firstName"> <br/>
      Last name: <br/>
      <input type="text" name="lastName"> <br/>
      Email: <br/>
      <input type="text" name="email"> <br/>
      Subject: <br/>
      <select name="SubjectId">
        <option></option>
        <% subjects.forEach(subject => { %>
          <option value="<%= subject.id %>"> <%= subject.subjectName %> </option>
        <% }) %>
      </select> <br/> <br/>
      <input type="submit" value="Edit Teacher"/>
    </form>
  </body>
</html>