<DOCTYPE html>
  <html>
  <head>
    <title>
      Home
    </title>
  </head>
  <body>
    <h1><%= home %></h1>
    <div id= "container">
    <h2><%= paragraph%></h2>
    <h3>Teachers</h3>
      <ul>
        <li><a href="/teachers">See All</a></li>
        <li><a href="/teacher/add">Add</a></li>
      </ul>
    <h3>Subject</h3>
      <ul>
        <li><a href="/subjects">See All</a></li>
        <li><a href="/subject/add">Add</a></li>
      </ul>
    </div>
  </body>
  </html>
