<%- include('./partials/_header') %>

<div class="routes">
  <h2>
    <a class="route-link" href="/teachers">Teachers Route</a>
  </h2>

  <h2>
    <a class="route-link" href="/subjects">Subjects Route</a>
  </h2> 
</div>
    

<%- include('./partials/_footer') %>
