<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Subject Form</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2>Edit Subject Data</h2>
	<a href='/subject'>show all data</a>
  <br>
  <br>
	<div>
		<form action="/subject/edit/<%=subject.id%>" method="post">
			Name: <br><input type="text" name="name" value = "<%= subject.name %>"><br><br>
			<button type="submit" onclick="alert('Succesfully updated')" value="submit">Edit Subject</button>
		</form>
	</div>
</body>
</html>
