<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Teacher Form</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2>Edit Teacher Data</h2>
	<a href='/teacher'>show all data</a>
  <br>
  <br>
	<div>
		<form action="/teacher/edit/<%=teacher.id%>" method="post">
			First Name: <br><input type="text" name="firstName" value = "<%= teacher.firstName %>"><br><br>
			Last Name: <br><input type="text" name="lastName" value = "<%= teacher.lastName%>"><br><br>
			Email: <br><input type="text" name="email" value="<%= teacher.email%>"><br><br>
			<button type="submit" onclick="alert('Succesfully updated')" value="submit">Edit Teacher</button>
		</form>
	</div>
</body>
</html>
