<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Teacher Form</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h2>Teacher Form</h2>
	<h3>Fill the form to register new Teacher</h3>
	<div>
		<form action="/teacher/add" method="post">
			First Name: <input type="text" name="firstName"><br><br>
			Last Name: <input type="text" name="lastName"><br><br>
			Email: <input type="text" name="email"><br><br>
			<button type="submit" onclick="alert('Succesfully registered')" value="submit">Register</button>
		</form>
	</div>
</body>
</html>