<%- include('../partials/_header') %>

<a class="main-link" href="/teachers/">Show all data</a>

<%- include('../partials/_form', { 
  columns: teachersColumns.slice(0, teachersColumns.length - 1),
  table: 'teachers',
  action: '/teachers/add'
}); %>

<%- include('../partials/_footer') %>
